.mainblock-body{
  height: 100%;
  margin: 0px 0px 0px 208px;
}

.mainblock-background{

  /* display: flex;
  flex-direction: column; */

  background-image: url("/src/assets/images/mainblock/background/Main-page_light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}