* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root,
body {
    min-width: 320px;
    min-height: 100vh;

    /* max-width: 1920px; */
    margin: 0 auto;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#root {
    min-height: 100vh;
}
